
    <div>
        <div>
            <div>
              <h1 style="text-align: center; margin-bottom: 20px">
                  {{title}}
                </h1>
            </div>
        </div>
        <div id="questions">
                <div class="question" ng-repeat="item in results">
                    {{item.question}}
                    <div data-quest-id="{{ item['quest_id'] }}" >
                      <input type="text" ng-model="answer">
                      <button type="button" class="btn">
                          Go
                        </button>
                    </div>

                </div>
        </div>

    </div>
