
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
              <h1 style="text-align: center; margin-bottom: 20px">
                  {{title}}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div ng-repeat="item in results" class="question-tile">
                    {{item.question}}
                    <div class="qa-answer input-group">
                      <input type="text" ng-model="answer">
                      <button>
                          Go
                        </button>
                    </div>
                    
                  </div>
            </div>
        </div>
        
    </div>